* {
    border: 1px solid cornflowerblue !important;
}

/* #square1 {
    background-color: red;
    height: 100px;
    width: 100px;
    position:relative;
    top: 0;
    left: 40px;
} */
#square1 {
    background-color: red;
    height: 100px;
    width: 100px;
    position:relative;
    top: 0;
    left: 40px;
}

#square2 {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: blue;
    top: 0;
    left: 0;
}

#container {
    background-color: gray;
    position: static;
    height: 500px;
    width: 500px;
}

